* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden; /* Evita el scroll */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Color de fondo general */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #985277; /* Color púrpura para el header */
    width: 100%;
    padding: 20px 40px;
    color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
}

.logout-button {
    background-color: #faa916; /* Color amarillo para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #e8a000; /* Color amarillo más oscuro al pasar el mouse */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 20px; /* Espacio interior */
}

.aplicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faa916; /* Color amarillo para las celdas */
    color: white;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aplicacion:hover {
    background-color: #e8a000; /* Color amarillo más oscuro al pasar el mouse */
}

.main_application_icon{
    width: 2rem;
    height: 2rem;
} 
